<ion-tabs>
    <ion-tab-bar slot="tabOne">
      <ion-tab-button tab="app-tab1">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>tab1</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="app-tab2">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>tab2</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="app-tab3">
        <ion-icon name="map"></ion-icon>
        <ion-label>tab3</ion-label>
      </ion-tab-button>
  
 
    </ion-tab-bar>
  </ion-tabs>